.App {
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.App > div {
  margin-bottom: 24px;
}

[data-theme="dark"] {
  background: #181a1b;
  color: #e0e0e0;
}

[data-theme="dark"] .App-link {
  color: #90caf9;
}

[data-theme="dark"] h1 {
  color: #ccc;
}